.App {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}